body{
    font-size: 22px;
    line-height: 34px;
}

header, 
nav{
background: #FD739C;
color: white;
font-family: Arial, Helvetica, sans-serif;

}

header{
    padding: 100px 0 50px;
}

h1,
h2{
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 10px;
}

h1{
    line-height: 50px;
}
.section-whoiam {
    margin-top: 50px;
}
